<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>

 <div class="container">
              <div class="card">
                <div class="modal-header">
                             <div class="col-lg-8"><h1 class="modal-title">PAYMENT DETAILS</h1></div>
                              <div class="col-lg-4">
                                  <br>
                                  <p>Invoice Raised On: {{ date.strftime('%d-%m-%Y')  }} </p>
                              </div>
                </div>
                <div class="modal-body">
          <form action="{{ url_for('viewtransactionlevel') }}" method="POST" enctype="multipart/form-data" role="form">
              <div class="container">
                  <div class="row">
                    <div class="col-lg-12">
                     <div class="form-group row">
                         <div class="col-lg-6">
                             <div class="form-group row">
                                <div class="col-lg-6">
                                   <label>Purchase No</label>
                                </div>
                                <div class="col-lg-6">
                                   <input class="form-control" name="purno" value="{{ purchasenum }}" readonly>
                                </div>
                             </div>
                         </div>
                         <div class="col-lg-6">
                              <div class="form-group row">
                                <div class="col-lg-6">
                                   <label>Purchase Date</label>
                                </div>
                                <div class="col-lg-6">
                                   <input class="form-control" name="purchasedate" value="{{ purchasedate }}" readonly>
                                </div>
                             </div>
                         </div>
                         <div class="col-lg-6">
                              <div class="form-group row">
                                <div class="col-lg-6">
                                   <label>Invoice no</label>
                                </div>
                                <div class="col-lg-6">
                                   <input class="form-control" name="invoiceno" value="{{invoiceno}}" readonly>
                                </div>
                             </div>
                         </div>
                         <div class="col-lg-6">
                              <div class="form-group row">
                                <div class="col-lg-6">
                                   <label>Invoice  Name</label>
                                </div>
                                <div class="col-lg-6">
                                   <input class="form-control" name="invoicename" value="{{invoicename}}" readonly>
                                </div>
                             </div>
                         </div>
                         <div class="col-lg-6">
                              <div class="form-group row">
                                <div class="col-lg-6">
                                   <label>Vendor Name</label>
                                </div>
                                <div class="col-lg-6">
                                   <input class="form-control" name="vendorname" value="{{vendorname}}" readonly>
                                </div>
                             </div>
                         </div>
                         <div class="col-lg-6">
                              <div class="form-group row">
                                <div class="col-lg-6">
                                   <label>Amount</label>
                                </div>
                                <div class="col-lg-6">
                                   <input class="form-control" name="amount" value="{{'%0.2f' % total_amount}}" readonly>
                                </div>
                             </div>
                         </div>
                         <div class="col-lg-6">
                              <div class="form-group row">
                                <div class="col-lg-6">
                                   <label>Pay Mode</label>
                                </div>
                                <div class="col-lg-6">
                                   <input class="form-control" name="mode" value="{{mode}}" readonly>
                                </div>
                             </div>
                         </div>
                      <!--   <div class="col-lg-6">
                              <div class="form-group row">
                                <div class="col-lg-6">
                                   <label>TDS Percentage</label>
                                </div>
                                <div class="col-lg-6">
                                   <input class="form-control" name="tdspercentage" value="{{tds_percent}}" readonly>
                                </div>
                             </div>
                         </div> -->
                       <!--   <div class="col-lg-6">
                             <div class="form-group row">
                                <div class="col-lg-6">
                                   <label>TDS Amount</label>
                                </div>
                                <div class="col-lg-6">
                                   <input class="form-control" name="tdsamount" value="{{tds_amount_value}}" readonly>
                                </div>
                             </div>
                         </div> -->
                         <div class="col-lg-12">
                             <div class="form-group row">
                                 <label>Bill Description</label>
                                 <textarea class="form-control"  readonly>{{billdescription}}</textarea>
                             </div>
                         </div>
                         <div class="col-lg-12">
                             <div class="form-group row">
                                 <label>Item Description</label>
                                 <textarea class="form-control"  readonly>{{itemdescription }}</textarea>
                             </div>
                         </div>
                     <!--     <div class="col-lg-4">
                                                <div class="form-group row">
                                                    <div class="col-lg-6">
                                                        <br>
                                                        <label>{{ taxone}}</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <br>
                                                        <input class="form-control" value="{{txnamount1}}" readonly>
                                                    </div>
                                                 </div>
                                             </div>
                         <div class="col-lg-4">
                                                 <div class="form-group row">
                                                    <div class="col-lg-6">
                                                       <br>
                                                       <label>{{taxtwo }}</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                       <br>
                                                       <input class="form-control" value="{{txnamount2}}" readonly>
                                                    </div>
                                                 </div>
                                             </div>
                         <div class="col-lg-4">
                                                 <div class="form-group row">
                                                    <div class="col-lg-6">
                                                       <br>
                                                       <label>{{ taxthreee}}</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <br>
                                                        <input class="form-control" value="{{txnamount3}}" readonly>
                                                    </div>
                                                 </div>
                                             </div> -->
                       <!--  <div class="col-lg-6">
                             <div class="form-group row">
                                 <div class="col-lg-4"> <br><label>Invoice Amount</label></div>
                                 <div class="col-lg-8"> <br><input type="text" class="form-control" value="{{'%0.2f' %totalinvalue}}" readonly></div>
                             </div>
                         </div> -->
                         <div class="col-lg-12">
                             <div class="form-group row">
                                 <label>Comments</label>
                                 <textarea class="form-control"  readonly>{{comments}}</textarea>
                             </div>
                         </div>
                         <div class="col-lg-12">
                            <div class="form-group row">
                                <div class="col-lg-6">
                              <div class="form-group row">
                                <div class="col-lg-6">
                                     <label for="tax3">Payment Type</label>
                                </div>
                                <div class="col-lg-6">
                                   <input class="form-control" name="paytype" value="{{payment}}" readonly>
                                </div>
                             </div>
                         </div>
                         <div class="col-lg-6">
                             <div class="form-group row">
                                <div class="col-lg-6">
                                     <label for="tax3">Sent To</label>
                                </div>
                                <div class="col-lg-6">
                                   <input class="form-control" name="assignuser" value="{{assignuser}}" readonly>
                                </div>
                             </div>

                         </div>
                            </div>
                        </div>
                     </div>

              </div>
          </form>
      </div>
                <div class="modal-footer">
                     <button type="button" class="btn btn-success" data-dismiss="modal" onclick="window.location.href='{{url_for('viewtransactionlevel')}}';">Close</button>
                   </div>
          </div>
          </div>
  </body>
</html>