<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V12</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendorl/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendorl/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendorl/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendorl/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/cssl/util.css">
	<link rel="stylesheet" type="text/css" href="/static/cssl/main.css">
<!--===============================================================================================-->

</head>
<body>
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/img-01.jpg');">
			<div class="wrap-login100 p-t-190 p-b-30">
				<form class="login100-form validate-form" action="{{ url_for('password') }}" method="POST" enctype="multipart/form-data" role="form">
					<div class="login100-form-avatar">
						<img src="/static/images/avatar.jpg" alt="AVATAR">
					</div>

					<span class="login100-form-title p-t-20 p-b-45">
						AARTHI SCANS AND LABS
					</span>

                    <div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
						<input class="input100" type="password" name="currpass" placeholder="Current Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
						<input class="input100" type="password" name="password" placeholder="New Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
						<input class="input100" type="password" name="confirmpass" placeholder="Confirm Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock"></i>
						</span>
					</div>

					<div class="container-login100-form-btn p-t-10">
						<button class="login100-form-btn" type="submit">
							Change Password
						</button>
					</div>
                    </form>
					<div class="container-login100-form-btn p-t-10">
						{% if current_user.user_level != 1%}
						<button class="login100-form-btn" onclick="window.location.href='{{url_for('flow_controlonly')}}';">
							Exit
						</button>
						{% else %}
						<button class="login100-form-btn" onclick="window.location.href='{{url_for('viewtransactionlevel')}}';">
							Exit
						</button>
						{% endif %}
					</div>

					<div class="text-center w-full p-t-25 p-b-230" id="s">
						<a href="#" class="txt1">
						{% with messages = get_flashed_messages() %}
						    {% if messages %}
						        {% for message in messages %}
						            <h5>{{message}}</h5>
						        {% endfor %}
						    {% endif %}
						{% endwith %}
							</a>
					</div>

					<div class="text-center w-full">
					<!--	<span class="txt1" href="#">

						</span> -->
					</div>

			</div>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="/static/vendorl/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendorl/bootstrap/js/popper.js"></script>
	<script src="/static/vendorl/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendorl/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/jsl/main.js"></script>
    <script src="/static/jsl/alert.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        setTimeout(function() {
          $('#s').fadeOut('fast');
          }, 5000);
      });
       </script>
</body>
</html>